* {
  margin: 0;
}

body {
  padding-inline: 3rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: rgb(245, 242, 239);
  font-size: 2rem;
}