@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
@layer components {
  .link {
    @apply cursor-pointer text-primary-dark font-semibold;
  }
  .highlight-area {
    @apply rounded bg-black bg-opacity-10
  }
}
